body {
	background-image: url("https://lh3.googleusercontent.com/proxy/85yb-_JIgFpz1hnvbQImabB5TSCAj0BwfqiTRqINEOApBuui22nhZ_oSDKn5O9S1WIhlrQhCEjxtzlY1Kum8ww83P8S_");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

.left_area h3 {
	color: #fff;
	margin: 0;
	top: 130px;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.left_area span {
	color: #19b3d3;
}

.form button:hover,
.form button:active {
	background: #43a047;
}

bg-dark {
	opacity: 0.4 !important;
}

.form .message a {
	color: #000000;
	text-decoration: none;
	opacity: 0.1;
}
.form .register-form {
	display: none;
}
.form .login-form {
	display: none;
	height: 300px;
}
.show {
	display: block !important;
}
.form {
	margin-top: 150px;
}

header {
	position: fixed;
	background: #22242a;
	padding: 20px;
	/* margin: 0; */
	/* padding: 0; */
	top: 0;
	left: -10px;
	width: 100%;
}

.left-area {
	color: #fff;
	margin: 0px;
	text-transform: uppercase;
}
